

body {
    margin: 0;
    padding: 0;
    background-color: f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
}

/* Toggle between Register and Login */
.form-toggle {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    /* font-size: 18px; */
    margin-bottom: 20px;
}

.toggle-link {
    font-size: 18px;
    color: #ebd9d9;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(112, 111, 111);
  
}

.toggle-link:hover {
    background-color: #313030;
    color: #fff;
}


























/* .container {
    max-width: 1000px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

.form-toggle {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #ddd;


}














.form-co {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.form-toggle {
    text-align: center;
    margin-bottom: 20px;
}

.toggle-link {
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(103, 103, 121);
}

.toggle-link.active {
    background-color: rgb(103, 103, 121);
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}

button:enabled {
    background-color: rgb(91, 91, 177);
    cursor: pointer;
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .container {
        width: 100%;
} */
} */